<.form :let={f} for={@changeset} action={@action}>
  <.input field={f[:paragraph]} type="textarea" label="Paragraph" />
  <.input field={f[:title]} type="text" label="Title" />
  <footer>
    <.button variant="primary">Save Activiy</.button>
    <.button :if={@return_to} href={@return_to}>Cancel</.button>
  </footer>
</.form>
