<Layouts.app flash={@flash} current_scope={@current_scope}>
  <.header>
    New Activiy
    <:subtitle>Use this form to manage activiy records in your database.</:subtitle>
  </.header>

  <.activiy_form changeset={@changeset} action={~p"/activities"} return_to={~p"/activities"} />
</Layouts.app>
