<div class="px-4 py-10 sm:px-6 sm:py-28 lg:px-8 xl:px-28 xl:py-32">
  <div class="mx-auto max-w-xl lg:mx-0">
    <div class="mt-10 text-center">
      <h1 class="text-2xl font-bold leading-6">
        One pal
      </h1>
      <p class="mt-4 text-lg text-gray-600">
        Under Construction
      </p>
    </div>
  </div>
</div>
